<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Order Confirmation</h1>

<p>
Order number: <%= @user.orders.last.id %>
</p>
<p>
Your order has been recieved!
</p>

<p> Here's a summary of your order: </p>
<ul>
  <% @user.orders.last.line_items.each do |li| %>
    <li><span><%= li.quantity %></span> * <span><%= li.product.title %></span> </li>
  <% end %>
</ul>
<p> Order Total: <%= @user.orders.last.total_price %> </p>
</body>
</html>
